html {
  font-size: 14px;
}
*, ::before, ::after {
  box-sizing: border-box
}
body {
  font-family:"Open Sans","Helvetica Neue",Helvetica,Arial,sans-serif;
  color: #333;
  margin: 0;
  background-color: #F8F9FA
}
:focus {
  outline: none
}
.card-container {
  width: 100%;
  max-width: 900px;
  padding-right: 25px;
  padding-left: 25px;
  margin-right: auto;
  margin-left: auto
}
.card-container .card {
  background-color: #fff;
  font-weight: 300;
  font-weight: 400;
  padding: 40px 65px;
  border-radius: 4px;
  border: 1px solid #C4C4C4;
  margin: 40px 0
}
.intro-banner {
  display: flex;
  align-items: center;
  background-image: url(../img/bn-sq-min.png);
  background-image: -webkit-image-set(url(../img/bn-sq-min.webp)1x);
  background-position: 126% 50%;
  background-repeat: no-repeat;
  background-size: auto;
  background-size: 70%;
  height: 400px
}
.intro-banner h1 {
  font-size: 2.1em;
  font-weight: 700;
  max-width: 40vw;
  text-shadow: 1px 1px 1px #00000030;
  width: 14em
}
.card-container h2 {
  font-size: 30px;
  font-weight: 600;
  margin: 0 0 40px
}
.card-container .card-nav {
  display: flex;
  flex-wrap: wrap;
  font-weight: 600
}
.card-nav a {
  border: 1px solid #DEDEDE;
  background-color: #fff;
  color: #686868;
  flex: 1 0 49%;
  text-align: center;
  text-decoration: none;
  transition: all 0.25s ease-in-out;
  padding: 10px 8px
}
.card-nav a:hover {
  color: #2f96d9;
  border-color: #2f96d9
}
.card-nav a::after {
  content: '\0023F5';
  display: inline-block;
  opacity: 0;
  position: absolute;
  transition: opacity 0.2s ease-in-out
}
.card-nav a:hover::after {
  opacity: 1
}
.card .obj-container {
  border-radius: 2px;
  box-shadow: 7px 7px 60px -10px #0000004d;
  display: flex;
  overflow: hidden;
  margin-top: 1em;
  width: 100%;
  height: auto
}
.card .obj-container:not(:last-child) {
  margin-bottom: 100px
}
.card video {
  max-width: calc(100% + 2px);
  margin-left: -1px;
  height: auto
}
.card > h3 {
  font-size: 1.5em;
  font-weight: 600
}
.card > h3::after {
  display: block;
  content: '';
  width: 100%;
  height: 1px;
  background-color: #C4C4C4;
  margin: 6px 0 23px
}
.card > p {
  margin-bottom: 1em
}
.card > p:last-of-type {
  margin-bottom: 2em
}
.card-advice {
  border: 2px solid #2f96d99e;
  border-radius: 3px;
  padding: 9px 18px 12px
}
.card-advice::before {
  content: 'Полезно знать';
  font-size: 12px;
  color: #2F96D9;
  font-weight: 600;
  display: block;
  margin-bottom: 5px
}


/* Accordion */
.accordion-wrapper {
  margin-left: -18px
}
.l-accordion {
  display: flex;
  background-color: #eee;
  background-color: #fff;
  color: #444;
  font-weight: 600;
  cursor: pointer;
  padding: 10px 42px 10px 18px;
  width: 100%;
  text-align: left;
  border: none;
  border-left: 1px solid transparent;
  outline: none;
  position: relative;
  transition: 0.4s
}
.active, .l-accordion:hover, .l-accordion.active + .l-accord  {
  border-left: 1px solid #ccc
}

.l-accord {
  padding: 0 18px;
  margin: 0 0 16px;
  background-color: #fff;
  border-left: 1px solid #ccc;
  overflow: hidden;
  -webkit-transition: max-height 0.5s ease-in-out;;
  -moz-transition: max-height 0.5s ease-in-out;;
  -ms-transition: max-height 0.5s ease-in-out;;
  -o-transition: max-height 0.5s ease-in-out;;
  transition: max-height 0.5s ease-in-out;;
  max-height: 0
}
/*.l-accord p {
  padding: 15px 0 25px
}*/
.l-accord div {
  padding: 15px 0 25px
}
/*
.l-accordion.active + .l-accord {
  display: block;
  max-height: none
}*/
.l-accordion:after {
  align-self: center;
  content: '▼';
  font-size: 13px;
  color: #777;
  position: absolute;
  right: 0;
  padding: 0 1em;
  transition: transform 0.25s cubic-bezier(0.4, 0, 1, 1)
}

.active:after {
  transform: rotate(180deg)
}

/* Share */
.ya-share2 {
  position: absolute;
  margin-top: 20px
}
.ya-share2__icon {
  filter: invert(.75);
}
.ya-share2__badge {
  background-color: transparent!important;
  border: 1px solid #b1b1b1
}

/* Accordion Checkbox */
.l-accordion + input {
  display: none;
  position: absolute;
  opacity: 0
}
.l-accordion + input:checked + .l-accord {
  display: block;
  opacity: 1;
  max-height: 500px
}


/* Mobile */
.d-show {
  display: block
}
.m-show {
  display: none
}

@media (max-width: 479px) {
  .card-container {
    padding-left: 15px;
    padding-right: 15px;
  }
  .card-container .card {
    background-color: transparent;
    padding: 20px 0px;
    border: none
  }
  .card .obj-container {
    margin-left: -15px;
    width: calc(100% + 30px)
  }
}



/* TEMP: fixes */
p {
  margin: 0
}
h1, h2, h3 {
  padding: 0;
  margin: 0
}
header {
  min-height: 123px;
  background-color: #edf0f3;
  box-shadow: -1px 2px 5px 0 rgba(0, 0, 0, 0.5);
  z-index: 1;
  margin-bottom: 40px
}

img {
  width: 100%
}

/* TEMP: Breadcrumb */
.breadcrumb-list {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  list-style-type: none;
  padding: 0
}
.list-item {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex
}
.breadcrumb-link {
  color: #333;
  text-decoration: none
}
.breadcrumb-link.breadcrumb-active {
  pointer-events: none
}
.breadcrumb-list > li:not(:last-of-type)::after {
  padding: 0 6px;
  content: ">"
}
